{% load static %}

{% comment %} <div class="card card-index position-relative overflow-hidden" style="width: 18rem; height: 28rem">
    <img src={% static 'assets/amarelo.png' %} class="card-background position-absolute z-0" alt="Background amarelo">
    <img src={% static img %} class="card-img-top z-1 position-absolute" alt={{alt_text}}>
    <div class="card-body position-absolute bottom-0">
        <h5 class="card-title">{{titulo}}</h5>
        <p class="card-text">{{resumo}}</p>
        <a href={% url lazy_url%} class="btn btn-cead">Abrir solicitação</a>
    </div>
</div> {% endcomment %}

<div class="card card-index position-relative overflow-hidden" style="width: 18rem; height: 28rem">
    <img src={% static 'assets/amarelo.png' %} class="card-background position-absolute z-0" alt="Background amarelo">
    <div class="d-flex justify-content-center align-items-center z-1" style="height: 60%;">
        <img src={% static img %} class="card-img-top z-1" alt={{alt_text}}>
    </div>
    <div class="card-body position-absolute bottom-0">
        <h5 class="card-title">{{titulo}}</h5>
        <p class="card-text">{{resumo}}</p>
        <a href={% url lazy_url%} class="btn btn-cead">Abrir solicitação</a>
    </div>
</div>