@import url('./bootstrap.min.css');
@import url('./custom_variables.css');

.btn-cead{
    --bs-btn-color:#fff;
    --bs-btn-bg:var(--red-cead);
    --bs-btn-border-color:var(--red-cead);
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:var(--red-cead-hover);
    --bs-btn-hover-border-color:var(--red-cead-active);
    --bs-btn-focus-shadow-rgb:49,132,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:var(--red-cead-active);
    --bs-btn-active-border-color:var(--red-cead-light);
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;
    --bs-btn-disabled-bg:var(--red-cead);
    --bs-btn-disabled-border-color:var(--red-cead)}

.card-background{
    width: 150%;
    left: 50%;
    top: -50%;
    transform: translateX(-50%) scale(1.5);
    transition: transform 0.5s ease-in-out;
}

.card-index:hover > .card-background{
    transform: translateX(-50%) scale(1.2);
}

/* .card-img-top{
    width: 80% !important;
    transition: transform 0.5s ease-in-out;
} */

.card-img-top{
    width: 80% !important;
    transition: transform 0.5s ease-in-out;
}

.card-index:hover div .card-img-top{
    transform: scale(1.1);
}

.main-form div{
    border-top-color: var(--red-cead);
    border-top-width: 4px;
}

.required{
    color: var(--red-cead);
}

.bg-cead{
    background: var(--red-cead);
}

.bg-ceadYellow{
    background: var(--yellow-cead)
}

.menu-link:hover{
    cursor: pointer;
}

.menu-link p{
    transition: transform 0.3s;
}

.menu-link:hover p{
    transform: translateX(1rem);
}

.menu-link div{
    transition: transform 0.3s;
}

.menu-link:hover div{
    transform: translate(10px, 10px);
}

input[type='date'], input[type='time']{
    width: 12rem;
}

@media (min-width: 992px) {
    .main-form {
        width: 50% !important;
    }
}